
:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --main-hover-color: #2196F3;
    --secondary-background-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --portfolio-img-border: #EEEEEE;
    --header-border-color: #ECECEC;
    
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
body {
    color: var(--main-text-color);
    background-color: #FFFFFF;
    
}   
body {
font-family: 'Roboto', sans-serif;

font-weight: 500;
font-size: 14px;
line-height: 1.14;  
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}
div {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    
        margin-left: auto;
        margin-right: auto ;
        
        padding: 0 15px;
        
        width: 1200px;
    }


/* index styling */
            /* head */

.header {
    border-bottom: 1px solid #ECECEC;
}

.logo {
font-family: 'Raleway', sans-serif;

font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;

}
span {
    color: black;
}
.nav-list-link {


font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.nav-list-link:hover, :focus{
    color: var(--main-hover-color);
}



.header-contacts {


font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--main-text-color);
}
.header-contacts:hover, :focus {
    color: var(--main-hover-color);
}

.nav-list-item {
    
    margin: 32px 0;
    display: block;
    
}     
  .nav-list-auth {
      display: flex;
      align-items: center;
      margin-left: auto;
  }

.logo {
    margin-right: 93px;
}
.nav-list .nav-list-link.current {
    color: #2196F3;
}
.nav-list {
    display: flex;
}     
 
.nav {
    display: flex;
    align-items: center;
}    
    
    

.nav-list .nav-list-item + .nav-list-item {
       margin-left: 50px;
} 


.header-contacts .email {
    margin-right: 50px;
}


                 /*  Hero  */

.hero {
    padding-top: 94px;
    padding-bottom: 94px;
   
    
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
}
.hero-title {
    
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.hero-button {
    
    
    cursor: pointer;
    padding: 10px 32px;
    display: inline-block;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    }
.hero-button:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero-button:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
                    /* advantages */
.advantages {
    padding-top: 94px;
    padding-bottom: 94px;
}                    

.advantages-main {
    display: flex;

}
.advantages-list {
    width: 270px;
    
}    
.advantages-main {
    justify-content: space-between;
}

.advantages-item {
    
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.advantages-text {
    
    
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
        /* Specialization */

    
.specialization { 
    padding-top: 94px;
    padding-bottom: 94px;   
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
 .specialization-name {
    text-align: center;
    
    margin-bottom: 50px;
    
}
.specialization-list {
    margin-top: 0;
    display: block;
}  
.specialization-list + .specialization-list{
    margin-left: 30px;
}
    
  
.specialization-art {
    display: flex;
    
    
}   



                /* Team */

.team-item {
    display: block;
    display: flex;
}

.team-list + .team-list {
 margin-left: 30px;
}
.team-title {

text-align: center;
font-weight: bold;
font-size: 36px;
line-height: 1.17;

letter-spacing: 0.03em;

color: var(--secondary-text-color);
}
.team-member {
padding-bottom: 10px;
text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.team-specific {
    
    margin-top: 0;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

color: var(--main-text-color);
}
.team {
        
    background-color: var(--team-bg-color);
    padding-bottom: 94px;
    padding-top: 94px;

}
.team-title {
    margin-bottom: 50px;
}
.team-photo {
    margin-top: 0;
    padding-bottom: 30px;
}   
.team-list {
    
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1635px;

    background: #FFFFFF;
    

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
         /* footer */
.footer-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;

color: #2196F3;
}
.footer-logo-color {
    color: #FFFFFF;
}
.footer-adress {
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.footer-contacts {


font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer {
            
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    
    
}    
.footer-logo {
    padding: auto;
    display: inline-block;
    
    padding-bottom: 20px;
}
.footer-adress {
    padding-bottom: 9px;
    
    
}
.footer-contacts {
    display: inline-block;
    padding-bottom: 9px;
    
}
 
             /* Portfolio styling */

     .presenatation {
         padding-top: 94px;
         padding-bottom: 94px;
     }
    .portfolio {
        display: flex;
        justify-content: center;
        
        padding-bottom: 50px;
    }
      
    
    .portfolio-nav-list {
    padding: 6px 22px;
    
    
    cursor: pointer;
    font-family:inherit;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    background: var(--team-bg-color);
    border-radius: 4px;
    border: none;
}

    .portfolio-nav:not(:last-child) {
        margin-right: 8px;
    }


.portfolio-nav-list:hover {
background: var(--main-hover-color);
color: #FFFFFF;
}
.portfolio-nav-list:focus {
    background: var(--main-hover-color);
    color: #FFFFFF;
    }
    .portfolio-img-list{
        width: 370px;
        height: 1.09;
        left: 215px;
        top: 262px;
        background: #FFFFFF;
        border: 1px solid var(--portfolio-img-border);
        box-sizing: border-box;
    }    
        
    .portfolio-img {
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio-img-list {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .portfolio-img-list:nth-child(3n) {
        margin-right: 0;
    }    

    .portfolio-img-list:nth-last-child(-n + 3) {
        margin-bottom: 94px;
    }

    .portfolio-item {
        padding-bottom: 20px;
    }
    .portfolio-img-name {
        padding-bottom: 4px;
        
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: #212121;
    }
    .portfolio-img-describe {
        
        font-weight: normal;
        font-size: 16px;
        line-height: 1.85;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
    }
    .footer-contacts:focus {
        color: var(--main-hover-color);
    }
    .footer-contacts:hover {
        color: var(--main-hover-color);
    }
    footer {
        background-color: var(--secondary-background-color);
    }
    .hero {
        background-color: var(--secondary-background-color);
    }
    
        
        
        
